.leader-user-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.leader-user-info {
    width: 150px;
    margin-right: 10px;
}

.question-count {
    margin: 5px;
}

.score-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #ECECEC;
    width: 62px;
    height: 77px;
}

.score-header {
    border-bottom: 2px solid #ECECEC;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
}

.score {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.score-circle {
    height: 30px;
    width: 30px;
    background-color: #3FCCA5;
    border-radius: 15px;
    margin-top: 7px;
}

.score-text {
    font-size: 10pt;
    position: fixed;
    padding: 5px 0 0 11px;
}